.Appx {
  color: rgb(0, 0, 0);
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  min-height: 94vh;
  background-position: 10%;
  display: block;
  justify-content: space-around;
  align-items: center;
  white-space: pre-wrap;
  padding-bottom: 50px;
}

.Appscan {
  color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  min-height: 94vh;
  padding-left: 25%;
  padding-right: 25%;
  display: block;
  padding-top: 100px;
  white-space: pre-wrap;
  align-items: center;
}

.Apps {
  color: rgb(0, 0, 0);
  font-family: "Courier New", Courier, monospace;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Tweet {
  color: black;
  background-color: black;
  text-align: center;
  line-height: 18px;
  height: 120px;
  width: 240px;
  background-color: rgba(214, 171, 171, 0.685);
  display: flex;
  flex-direction: column;
  box-shadow: 2px;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
}
.Title {
  text-size-adjust: initial;
  text-align: center;
  font-family: monospace;
  text-decoration-style: dotted;
  text-justify: inter-word;
}

.Like-button {
  border-radius: 100px;
  display: inline;
  min-height: 10px;
  width: 80px;
  border: ivory;
}

.Profile-image {
  border-radius: 100%;
  vertical-align: 15px;
  padding: None;
}

.BackgroundLayout {
  background: rgba(18, 36, 85, 0.685);
  background: linear-gradient(
    180deg,
    rgb(23, 97, 167) 3%,
    rgb(95, 255, 228) 100%
  );
}

.NavCSS {
  max-height: 100px;
  background: linear-gradient(
    180deg,
    rgb(18, 28, 53),
    rgba(23, 97, 167, 0.836) 3%
  );
}
.Appxx {
  display: flex;
  flex: content;
  justify-content: space-around;
  align-items: center;
}
.footer {
  height: 10px;
  text-align: center;
  padding: 20px;
  background-color: rgb(223, 223, 223);
}

.bot {
  bottom: 0;
  right: 0;
  position: fixed;
  width: 280px;
}

.btn {
  font-size: 15px;
  float: right;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  background: rgb(132, 149, 182);
  background: linear-gradient(
    180deg,
    rgb(197, 198, 199) 46%,
    rgb(69, 79, 83) 85%
  );
}
.Layout {
  background: rgb(61, 102, 182);
  background: linear-gradient(
    180deg,
    rgba(61, 102, 182, 1) 20%,
    rgba(9, 113, 152, 1) 46%,
    rgba(97, 189, 232, 1) 85%,
    rgba(0, 212, 255, 1) 100%
  );
}
